*__pycache__
*env
*.pyc
**/.vagrant
alacritty/theme/.github

# i want to ignore everything inside polybar
# except what i listed here
polybar/*
!polybar/config.ini
!polybar/launch.sh
!polybar/weather.sh
